{{#em-header appName="ember-ika-components" userName="ika-front-end"}}
  <nav>
    <ul>
      <li>{{#link-to 'gettingStarted'}}getting started{{/link-to}}</li>
      <li>{{#link-to 'main'}}main{{/link-to}}</li>
    </ul>
  </nav>
{{/em-header}}
{{outlet}}
